# please use your own API key from related URL
# mandatory: model invoke. Get it from https://platform.openai.com/api-keys
OPENAI_API_KEY=sk-xxx # substitute this line

# 2. Start LangChain monitor. Get it from https://smith.langchain.com
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=lsv2_pt_xxxx... # substitute this line

# 3. optional: other tools. For instance, get it from https://www.tavily.com/
TAVILY_API_KEY=tvly-xxxx... # substitute this line