# App Settings
APP_LOG_LEVEL=INFO # Options: ["INFO", "WARN", "ERROR", "DEBUG"]
APP_LOG_FILE=app.log # /path/to/log/file
APP_LOG_FORMAT=console # Options: ["console", "json"]

# LLM Agent Settings
APP_AGENT__API_KEY= # Optional
APP_AGENT__ENDPOINT=http://localhost:11434 # Endpoint of calling LLM
APP_AGENT__MODEL=Qwen3.5:4b # Model name
APP_AGENT__PROVIDER=ollama # Options: ["ollama", "openai"]
APP_AGENT__TEMPERATURE=0

# Embedding Model Settings
APP_EMBEDDING__BACKEND=huggingface # Options: ["huggingface", "ollama"]
APP_EMBEDDING__MODEL=maidalun1020/bce-embedding-base_v1 # Model name
APP_EMBEDDING__DTYPE=float16 # Options: ["float16", "float32", "float64"]
APP_EMBEDDING__DEVICE=auto # Options: ["auto", "cpu", "cuda"]
APP_EMBEDDING__TRUST_REMOTE_CODE=true # Options: ["true", "false"]
APP_EMBEDDING__THRESHOLD=0.99
